<!DOCTYPE html>
<html>

<head>
  <title>Waïlde</title>
  <!-- bootscrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <!-- personnal stylesheet -->
  <link href="https://fonts.googleapis.com/css?family=Poppins|Quicksand|Raleway" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="initial-scale=1.0">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<body>
  <!-- START NAV BAR -->
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="/images/assets/nav/eagle.png" width="30" height="30" alt="">
    </a>
    <a class="navbar-brand" href="/"><span class="bold">Waïlde</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
              <span class="navbar-toggler-icon"></span>
          </button>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="search-trip">Trips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="experience">Experience</a>
        </li>
      </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-2 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <% if (isLoggedIn == true) { %>
          <li class="nav-item">
            <a class="btn btn-outline-light nav-btn" data-toggle="modal" data-target="#modalPartenaire" href="#">Partenaires</a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="btn btn-outline-light nav-btn" method="get">Loggout</a>
            <% } else { %>
              <a href="/signin" class="btn btn-outline-light nav-btn" data-toggle="modal" data-target="#modalSignIn" href="#">SignIn</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-light nav-btn" data-toggle="modal" data-target="#modalSignUp" href="/trip">SignUp</a>
          </li>
          <% } %>
      </ul>
    </div>
  </nav>
  <!-- Modal Partenaire-->
  <div class="modal fade" id="modalPartenaire" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Partenaires, Bienvenue !</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Vous êtes prestataire de voyages naturels ? Visitez votre espace ici !</p>
          <a class="btn btn-success" href="partner">Embarquez !</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal SignIn-->
  <div class="modal fade" id="modalSignIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Entreprises, Bienvenue !</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/signin">
            <div class="form-group">
              <label for="exampleInputEmail1">Adresse Email</label>
              <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Votre adresse pro">
              <small id="emailHelp" class="form-text text-muted">Nous gardons vos données en sécurité !</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Mot de passe</label>
              <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe secret">
            </div>
            <button type="submit" class="btn btn-success">Connexion</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal SingUp-->
  <form action="/signup" method="POST">
    <div class="modal fade" id="modalSignUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> Registrez vous!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/signup">
              <div class="form-group">
                <label>Email</label>
                <input name="email" type="email" class="form-control" placeholder="Votre email">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input name="password" type="password" class="form-control" placeholder="Votre mot passe">
              </div>
              <div class="form-group">
                <label>Civil</label>
                <input name="salutation" type="text" class="form-control" placeholder="salutation">
              </div>
              <div class="form-group">
                <label>Nom famille</label>
                <input name="lastname" type="text" class="form-control" placeholder="Nom famille">
              </div>
              <div class="form-group">
                <label>Prenom</label>
                <input name="firstname" type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Prenom">
                <small id="emailHelp" class="form-text text-muted">Nous gardons vos données en sécurité !</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Nom de l'entreprise</label>
                <input name="company" type="name" class="form-control" id="exampleInputPassword1" placeholder="Nom de l'entreprise">
              </div>
              <button type="submit" class="btn btn-success">Inscriptions</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- END NAV BAR -->

<h1>Merci <span class="bold"> <%=user.firstname%> </span> pour votre reservation.</h1>
<h2>Vous avez recu un email de confirmation. Pour finaliser votre commande passer a la caisse</h2>


  <% if (isLoggedIn == true) { %>


<form action="/emailsend" method="POST">
    <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_1ANCe1biF6Lq6FWEuAVptelw"
    data-email="<%=user.email%>"
    data-amount="<%=totalCmd*100%>"
    data-name="Wailde"
    data-description="Paiement"
    data-image="/images/pictures/waildelogo.png"
    data-currency="eur">
    </script>

    <!-- DEFINE TRIPTITLE IN ORDER TO SEND THE RIGHT INFORMATION IN THE EMAIL -->
    <input name="triptitle"  type="hidden" value="<%=trip.triptitle%>">
      <input name="tripdesc"  type="hidden" value="<%=trip.tripdesc%>">
        <input name="triplocation"  type="hidden" value="<%=trip.location%>">
        <input name="tripdifficulty"  type="hidden" value="<%=trip.difficulty%>">
        <input name="triptheme"  type="hidden" value="<%=trip.theme%>">
        <input name="id" type="hidden" value="<%=trip.id%>">


        <%
                  } else {
                    %>
          <p>Veuillez vous conntecter pour</p>
          <%

                  }
                  %>

</form>

<p>TOTAL CMD = <%=totalCmd%></p>

<br>

<form action="addOne" method="GET">
  <input name="price" type="number" value="<%=totalCmd%>">
  <button type="submit">ADD</button>
</form>

<br>

<form action="deleteOne" method="GET">
  <input name="price2" type="number" value="<%=totalCmd%>">
  <button type="submit">DELETE</button>
</form>

<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

</div>

</div>





  <!-- scripts bootstrap javascript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBW7p69Yn6IFfN8IfyEM3DOXpFJoQaEsw&callback=initMap"
  async defer></script>
  <script>$('.carousel').carousel(); </script>

</body>

</html>
