<!DOCTYPE html>
<html>

<head>
  <title>Waïlde</title>
  <!-- bootscrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <!-- personnal stylesheet -->
  <link href="https://fonts.googleapis.com/css?family=Poppins|Quicksand|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/francois.css' />
</head>

<body>


  <!-- START NAV BAR -->
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="/images/pictures/waildelogo2.png" width="40" height="40" alt="">
    </a>
    <a class="navbar-brand" href="/"><span class="bold">Waïlde</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="search-trip">Trips</a>
        </li>
      </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-2 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <% if (isLoggedIn == true) { %>
        <li class="nav-item">
          <a class="btn btn-outline-light nav-btn" data-toggle="modal" data-target="#modalPartenaire" href="#">Partenaires</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="btn btn-outline-light nav-btn" method="get">Loggout</a>
          <% } else { %>
          <a href="/signin" class="btn btn-outline-light nav-btn" data-toggle="modal" data-target="#modalSignIn" href="#">SignIn</a>

        </li>
        <li class="nav-item">
          <a class="btn btn-outline-light nav-btn" data-toggle="modal" data-target="#modalSignUp" href="/trip">SignUp</a>
        </li>
        <% } %>
      </ul>
    </div>
  </nav>

  <!-- Modal Partenaire-->
  <div class="modal fade" id="modalPartenaire" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Partenaires, Bienvenue !</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Vous êtes prestataire de voyages naturels ? Visitez votre espace ici !</p>
          <a class="btn btn-success" href="partner">Embarquez !</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal SignIn-->
  <div class="modal fade" id="modalSignIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Entreprises, Bienvenue !</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/signin">
            <div class="form-group">
              <label for="exampleInputEmail1">Adresse Email</label>
              <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Votre adresse pro">
              <small id="emailHelp" class="form-text text-muted">Nous gardons vos données en sécurité !</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Mot de passe</label>
              <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe secret">
            </div>
            <button type="submit" class="btn btn-success">Connexion</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal SingUp-->

  <form action="/signup" method="POST">
    <div class="modal fade" id="modalSignUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> Registrez vous!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/signup">
              <div class="form-group">
                <label>Email</label>
                <input name="email" type="email" class="form-control" placeholder="Votre email">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input name="password" type="password" class="form-control" placeholder="Votre mot passe">
              </div>
              <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-2 pt-0">Civilité</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input name="salutation" class="form-check-input" type="radio" id="gridRadios1" value="Madame" checked>
                      <label class="form-check-label" for="gridRadios1">
                   Madame
                 </label>
                    </div>
                    <div class="form-check">
                      <input name="salutation" class="form-check-input" type="radio" id="gridRadios2" value="Monsieur">
                      <label class="form-check-label" for="gridRadios2">
                   Monsieur
                 </label>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="form-group">
                <label>Nom famille</label>
                <input name="lastname" type="text" class="form-control" placeholder="Nom famille">
              </div>
              <div class="form-group">
                <label>Prenom</label>
                <input name="firstname" type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Prenom">
                <small id="emailHelp" class="form-text text-muted">Nous gardons vos données en sécurité !</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Nom de l'entreprise</label>
                <input name="company" type="name" class="form-control" id="exampleInputPassword1" placeholder="Nom de l'entreprise">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Numéro de portable</label>
                <input name="phone" type="text" class="form-control" id="exampleInputPassword1" placeholder="Format exemple : 0689878685">
              </div>

              <button type="submit" class="btn btn-success">Inscriptions</button>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          </div>

        </div>
        </form>
      </div>

    </div>
  </form>


  <!-- END NAV BAR -->



  <div class="container-fluid">
    <h2 class="text-left mt-3 mb-3 text-center">Trouvez votre futur voyage Team Building</h2>

  <form class="search-barre" action="/search-filter" method="post">

    <div class="row d-flex align-items-center">
      <select name="team" class="col-lg-3 custom-select m-2">
        <option value="null" selected>Nombre de participants</option>
        <option value="1">De 1 à 10 participants</option>
        <option value="2">De 11 à 30 participants</option>
        <option value="3">Plus de 30 participants</option>
      </select>

      <select name ="budget" class="col-lg-3 custom-select m-2">
        <option value="null" selected>Votre Budget</option>
        <option value="1">De 1 à 500€/participant</option>
        <option value="2">De 500 à 1000€/participant</option>
        <option value="3">Plus de 1000€/participant</option>
      </select>

      <select name="difficulty"class="col-lg-3 custom-select m-2">
        <option value="null" selected>Niveau du voyage</option>
        <option value="difficulte1">Facile</option>
        <option value="difficulte2">Moyen</option>
        <option value="difficulte3">Difficile</option>
      </select>


      <button type="submit" class="col-lg-1 btn btn-lg btn-primary m-2 p-1">Recherche</button>
      <button type="reset" class="col-lg-1 btn btn-outline-info btn-lg m-2 p-1">Reset</button>
    </div>

  </form>

    <hr class="my-5" style="border: 2px solid		#99cccc;"></hr>

    <div class="row">
      <%
      for(var i=0; i<tripList.length; i++) {
      %>
      <div class="col-12 col-md-6 col-lg-4 d-none d-sm-block card" style="width: 18rem;">
        <img class="card-img-top" src="<%=tripList[i].file%>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%=tripList[i].triptitle%></h5>
          <h6><% if (tripList[i].theme == 1) {%>
            Aventure
            <%} else if (tripList[i].theme == 2) {%>
            Découverte
            <%} else {%>
              Bien-être
            <%
            }%>
          </h6>
          <p class="card-text"><%=tripList[i].tripdesc%></p>
          <div class="row justify-content-between">
            <div class="europrice">
              <h6 class="pl-3">Budget : <% if (tripList[i].budget == null || tripList[i].budget<= 500) {%>
                <i class="fas fa-coins"></i>
              <%} else if (tripList[i].budget <= 1000) {%>
              <i class="fas fa-coins"></i><i class="fas fa-coins"></i>
                <%} else {%>
              <i class="fas fa-coins"></i><i class="fas fa-coins"></i><i class="fas fa-coins"></i>
                <%}%></h6>
            </div>
            <div class="difficulty">
              <h6 class="pr-3">Difficulté : <% if (tripList[i].difficulty == "difficulte1") {%>
                <i class="fas fa-fire"></i>
              <%} else if (tripList[i].difficulty == "difficulte2") {%>
                <i class="fas fa-fire"></i><i class="fas fa-fire"></i>
                <%} else {%>
                  <i class="fas fa-fire"></i><i class="fas fa-fire"></i><i class="fas fa-fire"></i>
                  <%}%></h6>
            </div>
            <div class="form-group row">
              <input name="file"  type="hidden" value="<%=tripList[i].file%>">
              <input name="salutation"  type="hidden" value="<%=tripList[i].salutation%>">
              <input name="lastName"  type="hidden" value="<%=tripList[i].lastName%>">
              <input name="firstName"  type="hidden" value="<%=tripList[i].firstName%>">
              <input name="company"  type="hidden" value="<%=tripList[i].company%>">
              <input name="location"  type="hidden" value="<%=tripList[i].location%>">
              <input name="duration"  type="hidden" value="<%=tripList[i].duration%>">
              <input name="startdate"  type="hidden" value="<%=tripList[i].startdate%>">
              <input name="enddate"  type="hidden" value="<%=tripList[i].enddate%>">
              <input name="team"  type="hidden" value="<%=tripList[i].team%>">

            </div>
          </div>
          <div class="d-flex justify-content-center">
            <% if (isLoggedIn) {%>
              <form class="" action="/trip" method="post">
                <input name="id"  type="hidden" value="<%=tripList[i]._id%>">
                <button type="submit" class="btn btn-outline-secondary mt-3">Plus d'infos</button>
              </form>
            <%} else {%>
              <a href="/signin" class="btn btn-success nav-btn" data-toggle="modal" data-target="#modalSignIn" href="#">SignIn</a>
            <%}%>
          </div>
        </div>
      </div>
      <%
    }
    %>


    </div>





      <!-- <div class="col-12 col-md-6 col-lg-4 d-none d-sm-block card" style="width: 18rem;">
        <img class="card-img-top" src="/images/basque.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Dompter la vague basque</h5>
          <h6>Sports - Aventures</h6>
          <p class="card-text">Faites découvrir le surf à vos collaborateurs dans le « spot » le plus réputé de France : la côte basque. Un weekend riche en expériences et en sport à partager en équipe et ainsi consolider la cohésion au sein de votre entreprise !</p>
          <div class="row justify-content-between">
            <div class="europrice">
              <h6 class="pl-3">Budget : <i class="fas fa-coins"></i></h6>
            </div>
            <div class="difficulty">
              <h6 class="pr-3">Difficulté : <i class="fas fa-fire"></i><i class="fas fa-fire"></i></h6>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary mt-3">Plus d'infos</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-none d-sm-block card" style="width: 18rem;">
        <img class="card-img-top" src="/images/landes.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Le bootcamp des Landes</h5>
          <h6>Sports - Aventures</h6>
          <p class="card-text">Offrez l’expérience d’un Bootcamp inoubliable à vos collaborateurs. Au programme : des activités physiques en équipe et connexion à la nature sauvage de ce territoire unique en France. Une expérience intense et enrichissante !</p>
          <div class="row justify-content-between">
            <div class="europrice">
              <h6 class="pl-3">Budget : <i class="fas fa-coins"></i><i class="fas fa-coins"></i></h6>
            </div>
            <div class="difficulty">
              <h6 class="pr-3">Difficulté : <i class="fas fa-fire"></i><i class="fas fa-fire"></i></h6>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary mt-3">Plus d'infos</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-none d-sm-block card" style="width: 18rem;">
        <img class="card-img-top" src="/images/scotland.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">En équipe en Ecosse</h5>
          <h6>Sports - Aventures</h6>
          <p class="card-text">Prenez le temps de découvrir les fameux Highlands écossais, une aventure à partager en groupe pour tester et renforcer la cohésion au sein de votre équipe. Une randonnée unique qui vaut le détour !</p>
          <div class="row justify-content-between">
            <div class="europrice">
              <h6 class="pl-3">Budget : <i class="fas fa-coins"></i><i class="fas fa-coins"></i><i class="fas fa-coins"></i></h6>
            </div>
            <div class="difficulty">
              <h6 class="pr-3">Difficulté : <i class="fas fa-fire"></i><i class="fas fa-fire"></i></h6>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary mt-3">Plus d'infos</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-none d-sm-block card" style="width: 18rem;">
        <img class="card-img-top" src="/images/alpes.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">La traversée des Alpes</h5>
          <h6>Sports - Aventures</h6>
          <p class="card-text">Un parcours historique de légende dans les Alpes, entre la France et l’Italie, durant lequel vos collaborateurs feront face ensemble à de véritables challenges. Sensations fortes garanties !</p>
          <div class="row justify-content-between">
            <div class="europrice">
              <h6 class="pl-3">Budget : <i class="fas fa-coins"></i><i class="fas fa-coins"></i><i class="fas fa-coins"></i></h6>
            </div>
            <div class="difficulty">
              <h6 class="pr-3">Difficulté : <i class="fas fa-fire"></i><i class="fas fa-fire"></i><i class="fas fa-fire"></i></h6>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary mt-3">Plus d'infos</a>
          </div>
        </div>
      </div>


      <div class="col-12 col-md-6 col-lg-4 d-none d-sm-block card" style="width: 18rem;">
        <img class="card-img-top" src="/images/versailles.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">La Course d’orientation des rois de France</h5>
          <h6>Découverte</h6>
          <p class="card-text">Dans le cadre exceptionnel du Château de Versailles, faites participer vos collaborateurs à une vaste course d’orientation en équipe. Une journée avec pour objectif la consolidation de votre culture d’entreprise !</p>
          <div class="row justify-content-between">
            <div class="europrice">
              <h6 class="pl-3">Budget : <i class="fas fa-coins"></i></h6>
            </div>
            <div class="difficulty">
              <h6 class="pr-3">Difficulté : <i class="fas fa-fire"></i></h6>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary mt-3">Plus d'infos</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-none d-sm-block card" style="width: 18rem;">
        <img class="card-img-top" src="/images/volcans.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Au cœur des volcans d’Auvergne</h5>
          <h6>Découverte</h6>
          <p class="card-text">Venez profiter en équipe d’un environnement unique en France : les volcans d’Auvergne. Un weekend riche en expériences pour découvrir les spécificités du terroir auvergnat. Faites prendre de la hauteur à vos collaborateurs !</p>
          <div class="row justify-content-between">
            <div class="europrice">
              <h6 class="pl-3">Budget : <i class="fas fa-coins"></i><i class="fas fa-coins"></i></h6>
            </div>
            <div class="difficulty">
              <h6 class="pr-3">Difficulté : <i class="fas fa-fire"></i><i class="fas fa-fire"></i></h6>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary mt-3">Plus d'infos</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-none d-sm-block card" style="width: 18rem;">
        <img class="card-img-top" src="/images/ardeche.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Les Trésors de l’Ardèche</h5>
          <h6>Découverte</h6>
          <p class="card-text">Faites découvrir à vos collaborateurs l'Ardèche et ses paysages à couper le souffle ainsi que son riche terroir. Un weekend pour apprendre à mieux se connaitre et ainsi améliorer la productivité globale de votre équipe !</p>
          <div class="row justify-content-between">
            <div class="europrice">
              <h6 class="pl-3">Budget : <i class="fas fa-coins"></i><i class="fas fa-coins"></i></h6>
            </div>
            <div class="difficulty">
              <h6 class="pr-3">Difficulté : <i class="fas fa-fire"></i><i class="fas fa-fire"></i></h6>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary mt-3">Plus d'infos</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-none d-sm-block card" style="width: 18rem;">
        <img class="card-img-top" src="/images/italy.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">La Quête italienne</h5>
          <h6>Découverte</h6>
          <p class="card-text">Offrez à vos collaborateurs une expérience unique à travers une chasse au trésor entre Bergame et Venise à effectuer en équipe durant un voyage inoubliable dans le nord de l’Italie. Epanouissement et découvertes seront au rendez-vous !</p>
          <div class="row justify-content-between">
            <div class="europrice">
              <h6 class="pl-3">Budget : <i class="fas fa-coins"></i><i class="fas fa-coins"></i><i class="fas fa-coins"></i></h6>
            </div>
            <div class="difficulty">
              <h6 class="pr-3">Difficulté : <i class="fas fa-fire"></i><i class="fas fa-fire"></i><i class="fas fa-fire"></i></h6>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary mt-3">Plus d'infos</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-none d-sm-block card" style="width: 18rem;">
        <img class="card-img-top" src="/images/montenegro.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Les secrets du Monténégro</h5>
          <h6>Découverte</h6>
          <p class="card-text">Partez avec votre équipe à la découverte du Monténégro. Des paysages magnifiques et une culture locale riche qui sauront séduire vos collaborateurs, un voyage idéal pour apprendre à mieux se connaitre !</p>
          <div class="row justify-content-between">
            <div class="europrice">
              <h6 class="pl-3">Budget : <i class="fas fa-coins"></i><i class="fas fa-coins"></i><i class="fas fa-coins"></i></h6>
            </div>
            <div class="difficulty">
              <h6 class="pr-3">Difficulté : <i class="fas fa-fire"></i><i class="fas fa-fire"></i><i class="fas fa-fire"></i></h6>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary mt-3">Plus d'infos</a>
          </div>
        </div>
      </div>


      <div class="col-12 col-md-6 col-lg-4 d-none d-sm-block card" style="width: 18rem;">
        <img class="card-img-top" src="/images/animals.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Connexion animale</h5>
          <h6>Bien-être</h6>
          <p class="card-text">Partez avec vos collaborateurs à la rencontre exceptionnelle d'animaux pas comme les autres et découvrez ainsi leurs incroyables vertus thérapeutiques pour apporter un maximum de bien être à votre équipe !</p>
          <div class="row justify-content-between">
            <div class="europrice">
              <h6 class="pl-3">Budget : <i class="fas fa-coins"></i></h6>
            </div>
            <div class="difficulty">
              <h6 class="pr-3">Difficulté : <i class="fas fa-fire"></i></h6>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary mt-3">Plus d'infos</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-none d-sm-block card" style="width: 18rem;">
        <img class="card-img-top" src="/images/boudhisme.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Initiation au bouddhisme</h5>
          <h6>Bien-être</h6>
          <p class="card-text">Faites découvrir à vos collaborateurs les bienfaits de la philosophie bouddhiste et ses vertus sur la cohésion globale de votre entreprise. Un weekend plein d’enseignement encadré par des moines bouddhistes passionnants !</p>
          <div class="row justify-content-between">
            <div class="europrice">
              <h6 class="pl-3">Budget : <i class="fas fa-coins"></i><i class="fas fa-coins"></i></h6>
            </div>
            <div class="difficulty">
              <h6 class="pr-3">Difficulté : <i class="fas fa-fire"></i></h6>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary mt-3">Plus d'infos</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-none d-sm-block card" style="width: 18rem;">
        <img class="card-img-top" src="/images/yoga.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Yoga au sommet</h5>
          <h6>Bien-être</h6>
          <p class="card-text">Offrez l’opportunité à vos collaborateurs de découvrir le yoga durant un weekend d’initiation… au sommet des Pyrénées ! Dans un refuge de montagne vous profiterez de l’air frais et des magnifiques paysages pour ressourcer leurs chakras !</p>
          <div class="row justify-content-between">
            <div class="europrice">
              <h6 class="pl-3">Budget : <i class="fas fa-coins"></i><i class="fas fa-coins"></i></h6>
            </div>
            <div class="difficulty">
              <h6 class="pr-3">Difficulté : <i class="fas fa-fire"></i><i class="fas fa-fire"></i></h6>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary mt-3">Plus d'infos</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-none d-sm-block card" style="width: 18rem;">
        <img class="card-img-top" src="/images/desert.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Les bienfaits du désert</h5>
          <h6>Bien-être</h6>
          <p class="card-text">Embarquez avec votre équipe, direction le Sahara marocain ! Au programme : de la relaxation, de la méditation et une randonnée loin de toutes les préoccupations du quotidien. De quoi ressourcer totalement vos collaborateurs !</p>
          <div class="row justify-content-between">
            <div class="europrice">
              <h6 class="pl-3">Budget : <i class="fas fa-coins"></i><i class="fas fa-coins"></i><i class="fas fa-coins"></i></h6>
            </div>
            <div class="difficulty">
              <h6 class="pr-3">Difficulté : <i class="fas fa-fire"></i><i class="fas fa-fire"></i></h6>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary mt-3">Plus d'infos</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-none d-sm-block card" style="width: 18rem;">
        <img class="card-img-top" src="/images/norvege.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Bien-être à la norvégienne</h5>
          <h6>Bien-être</h6>
          <p class="card-text">Direction la Norvège pour un voyage 100% bien-être et activité physique. Découvrez avec vos collaborateurs les fjords nordiques à travers un parcours de marche nordique agrémenté de haltes dans des lieux typiquement norvégiens !</p>
          <div class="row justify-content-between">
            <div class="europrice">
              <h6 class="pl-3">Budget : <i class="fas fa-coins"></i><i class="fas fa-coins"></i><i class="fas fa-coins"></i></h6>
            </div>
            <div class="difficulty">
              <h6 class="pr-3">Difficulté : <i class="fas fa-fire"></i><i class="fas fa-fire"></i><i class="fas fa-fire"></i></h6>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary mt-3">Plus d'infos</a>
          </div>
        </div>
      </div>

    </div> -->
<!--
  </div> -->


















  <!-- scripts bootstrap javascript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</body>
</html>
